.nav1 {
    background-color: #c4c4c4;
    padding: 2px;
    text-align: center;
    color: white;
}
.section1{
    background-color: #438930;
}
.image{
    text-align: center;
    margin-top: 10px;
}
.container1{
    text-align: center;
}
footer{
    text-align: center;
}
